<div class="container mt-3">
  <h1 class="fw-bold">Result</h1>
  <br>
  <% if @result[:win] == 1 %>
    <p><strong>Congratulations!</strong> <%= params[:word].upcase %> is a valid English word!</p>
    <p>Your score: <%= @result[:score] %> pts.</p>
  <% elsif @result[:win] == 2 %>
    <p>Sorry, "<strong><%= params[:word].upcase %></strong>" is not a valid English word.</p>
    <p>You loose: <%= @result[:score] %> pts.</p>
  <% else %>
    <p>You loose: <%= @result[:score] %> pts.</p>
    <p>Sorry but "<strong><%= params[:word].upcase %></strong>" can't be built out of <%= params[:grid].gsub(" ", ", ") %>.</p>
  <% end %>
    <p>Your total score: <%= session[:score] %> pts.</p>
  <br>
  <p><%= link_to "Play again", new_path %></p>
</div>